.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
.librarian
*.iml
/.bundle/
/.idea/
/.vagrant/
/coverage/
/Gemfile.lock
/junit/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/vendor/
/convert_report.txt
/update_report.txt
.DS_Store
